# Binaries
out/*
output/*

# Artifacts
azure-*.json
ipam-*.xml

# Environment
.vscode/*

# Coverage 
*.out

# Goland
.idea/*

# Logs
*.log

# debug test files
*.test

controller-gen
build/tools/bin
npm/debugTools/http
